*, html{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background: #FEFEFA;
}

.container{
  margin: 0 auto;
  padding: 0 .625rem;
}

.primary-nav{
  width: 100%;
  background-color: rgba(127, 255, 212, .4);
  height: 70px;
  border-bottom: 1px solid rgba(232, 232, 232, .7);
  position: fixed;
}

.logo{
  position: absolute;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.25rem;
  padding-top: .6rem;
}

.brand{
  font-weight: 700;
  font-size: 1.5625rem;
}

.main-nav{
  padding: 3rem 0 .5rem 0;
  text-align: center;
}

.main-nav ul{
  margin: 0;
  padding: 0;
  clear: both;
}

.main-nav li{
  list-style: none;
  display: inline-block;
  padding-right: .4rem;
}

.main-nav a{
  text-decoration: none;
}

.main-nav a:hover{
  color: #000;
  font-weight: 400;
}

#welcome-section{
  font-weight: 400;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
}

#welcome-section h1{
  font-size: 24px;
  padding-bottom: .5rem;
  text-align: center;
  font-family: 'Playfair Display';
}

.logo-img{
  max-width: 100%;
  display: block;
  height: auto;
  border-radius: 50%;
}

.welcome-left{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
}

.welcome-right{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.25rem;
}

.quote{
  /* display: inline-block; */
  /* border-left: 4px solid #ccc;
  padding-left: .5rem; */
  color:#909090;
  text-align: center;
  font-family: 'Playfair Display';
}

#about{
  padding-bottom: 1.25rem;
}

.head-section{
  background: #333;
  width: 100%;
  padding: 4rem .5rem;
  text-align: center;
}

.subheading{
  color: #fff;
  font-weight: 700;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.section-img{
  width: 100%;
  display: block;
  height: auto;
  border-radius: 6px;
}

.left-section{
  display: flex;
  flex-direction: column;
  padding: 1.25rem 0;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-size: 18px;
}


@media (min-width: 576px){ 

  .primary-nav{
    height: 50px;
  }

  .container{
    padding-left: 20px;
  }

  .logo{
    left: auto;
    transform: translateX(0);
  }
  
  .main-nav{
    float: right;
    padding-top: 1rem;
  }

  .main-nav li{
    float: left;
    display: block;
    padding-right: 1.25rem;
  }

  #welcome-section{
    flex-direction: row;
    padding-left: 20px;
  }

  #welcome-section h1{
    font-size: 2.5rem;
    padding-bottom: 1rem;
  }

  .welcome-left{
    width: 35%;
    justify-content: flex-end;
    padding: 0 1.875rem 0 0;
  }

  .welcome-right{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }

  .quote{
    font-size: 18px;
  }

  .subheading{
    font-size: 2rem;
  }
  
  .sub-section{
    display: flex;
    flex-direction: row;
    padding: 3rem 1rem;
  }

  .left-section{
    display: flex;
    width: 40%;
    padding-right: 1.25rem;
    align-content: center;
    font-size: 22px;
    line-height: 3rem;
    background: #DCDCDC;
    margin: 3rem;
    border-radius: 6px;
  }

  .right-section{
    width: 50%;
  }

}

@media (min-width: 768px){

  .container{
    max-width: 750px;
  }
}

@media (min-width: 992px){

  .container{
    max-width: 970px;
  }
}


@media (min-width: 1200px){

  .container{
    max-width: 73.125rem;
  }

}











